* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #48c6ef;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #6f86d6;
    border-radius: 20px;
    border: 3px solid #48c6ef;
}

body {
    background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%) no-repeat;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.search-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search-container input {
    outline: 5px solid #48c6ef;
    color: #333;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border-radius: 10px;
}

ul {
    max-height: 200px;
    list-style: none;
    overflow-y: scroll;
}

ul li {
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 16px;
    flex-basis: 100%;
}

ul li:hover {
    background-color: #ffa94d;
}
